body 
{
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
    text-align: center;
} 
  .section {
    margin-bottom: 20px;
}
  .section h2 {
    margin-bottom: 10px;
}
  .section .sub-heading {
    font-weight: bold;
    margin-bottom: 5px;
  }
